<h3>Add Contact</h3>
	<form>
		<input class="form-control" type="text" id="firstName" placeholder="First Name" ng-model="newContact.firstName">
	    <input class="form-control" type="text" id="LastName" placeholder="Last Name" ng-model="newContact.LastName">
	    <input class="form-control" type="text" id="email" placeholder="Email" ng-model="newContact.email">
	    <input class="form-control" type="text" id="telNumber" placeholder="Telephone Number" ng-model="newContact.telNumber">
	    <button type="submit" class="btn btn-success" id="submit-contact" ng-click="submitNewContact()">Submit</button>
	</form>